[2020-02-10 11:51] cesarsotovalero opened #2 "Gradle plugin does not process all dependencies locally"
Some dependencies cannot be fetched from external repositories. Thus, these dependencies cannot be analyzed.

[2020-03-09 19:02] rohanmukesh opened #3 "Maven plugin issue"
We are getting this issue:

[ERROR] Plugin se.kth.castor:depclean-maven-plugin:1.0.0 or one of its dependencies could not be resolved: Failed to read artifact descriptor for se.kth.castor:depclean-maven-plugin:jar:1.0.0: Could not find artifact se.kth.castor:depclean-parent-pom:pom:1.0.0 in central (https://repo.maven.apache.org/maven2) ->

We have added the plugin and goal under build section of

[2020-03-09 21:45] cesarsotovalero commented on #3
Did you try installing and building from source?
Clone the repo and run `mvn clean install`. After that, add the plugin to the `pom` of your project, as described in the README.

[2020-03-24 09:48] cesarsotovalero opened #4 "DepClean Bot"
### Proposal

We want to implement DepClean as a software Bot running on top of GitHub, in the same spirit of [Renovate](https://github.com/renovatebot/renovate) or [Dependabot](https://github.com/dependabot).

### Specs
- DepClean will execute as requested by the user (e.g. calling it from a commit message)
- DepClean will produce a report about the dependency usage status

[2020-03-24 13:28] cesarsotovalero commented on #3
@rohanmukesh please close this issue if you solved the problem.

[2020-04-22 11:11] henrikplate opened #5 "Add scope information to potentially unused dependencies"
Great idea, thank you (again).

It would be very helpful to see the scope of unused dependencies, or maybe exclude certain scopes from the analysis. IMO, debloating is particularly useful for those scopes needed at runtime.

[2020-05-07 06:12] bbaudry commented on #5
+1 for the exclusion of certain scopes from the analysis

[2020-05-07 14:45] cesarsotovalero commented on #5
Thanks, @henrikplate, we have added scope information of each dependency to the report.

We also added a parameter to the plugin that allows excluding dependencies with particular scopes from the Depclean analysis. This way, the users have the option of removing unused dependencies that are only needed at runtime, if they want to.

[2020-05-07 14:45] #5 closed

[2020-05-07 14:46] cesarsotovalero commented on #3
I'm closing this issue due to a lack of engagement.

[2020-05-07 14:46] #3 closed

[2020-05-26 16:43] jfneis opened #6 "master version still keeps references to 1.0.0 (and fails)"
When trying to download and build the source code, there is a problem because core version 1.0.0 is broken (can't find parent POM).

Changing the plugin version solved the issue.

Same way, the documentation (README) still refers 1.0.0 version, which results in an error when trying to run the plugin in other projects.

[2020-05-26 20:28] cesarsotovalero commented on #6
@jfneis We released a new version [1.1.0](https://github.com/castor-software/depclean/releases/tag/1.1.0) of DepClean. Thanks for noticing the bug in the documentation.

[2020-05-27 08:47] #6 closed

[2020-06-17 19:56] cesarsotovalero opened #8 "Implement web graph tool for dependencies"
It would be useful to implement a web graph tool for DepClean, in the same spirit of https://github.com/ExpediaGroup/jarviz/tree/master/jarviz-graph.

The web interface must show the dependency analysis results for an uploaded project. The tool will show the results as a DAG with the following information:
- The direct, transitive, and inherited dependencies as nodes
- The status of those dependen

[2020-08-31 07:10] bbaudry commented on #8
The visualization of dependency trees is also related to [Surfacing Hidden Change to Pull Requests](https://developer.squareup.com/blog/surfacing-hidden-change-to-pull-requests/)

[2020-09-03 17:36] Reprevise opened #11 "DepClean analysis is broken"
I've built the plugin from source and when I run `mvn se.kth.castor:depclean-maven-plugin:1.1.0:depclean`, I receive this error. I should be getting the analysis but I don't.

[code]

[2020-09-03 21:14] Reprevise commented on #11
@cesarsotovalero https://github.com/Reprevise/DiscordVerify

[2020-09-04 12:33] cesarsotovalero commented on #11
It's working fine in my local execution.
Here is the output:

[code]

[2020-09-04 12:37] Reprevise commented on #11
@cesarsotovalero What command are you running?

[2020-09-04 12:40] Reprevise commented on #11
@cesarsotovalero I followed all the steps, still getting the same error.

[2020-09-04 12:40] cesarsotovalero commented on #11
Are you connected to the internet?
You need an internet connection to retrieve dependencies for the analysis.

[2020-09-04 12:41] Reprevise commented on #11
Yes I'm connected to the internet, it's how I'm responding on GitHub.

[2020-09-04 12:44] cesarsotovalero commented on #11
Do the project builds successfully on your computer without DepClean.
I mean, by running: `mvn clean package`

[2020-09-04 12:47] Reprevise commented on #11
Yes my project builds successfully.

[2020-09-04 12:55] cesarsotovalero commented on #11
What is the output of running this command `mvn dependency:copy-dependencies` in the root of your project?

[2020-09-04 13:00] Reprevise commented on #11
[code]

[2020-09-04 13:11] cesarsotovalero commented on #11
Can you run DepClean in debugging mode with `mvn -X se.kth.castor:depclean-maven-plugin:1.1.0:depclean` and tell me what is the result of the stacktrace?

[2020-09-04 13:19] Reprevise commented on #11
[code]

[2020-09-04 13:30] cesarsotovalero commented on #11
Everything looks fine in the logs. Evidently, the problem is when DepClean tries to copy the dependencies locally. For some reason, it's not working.

Try a fix with the following steps:

1. Remove this block of code https://github.com/castor-software/depclean/blob/master/depclean-maven-plugin/src/main/java/se/kth/depclean/DepCleanMojo.java#L169-L175
2. Install DepClean again
3. Run `mvn clean com

[2020-09-04 13:40] Reprevise commented on #11
Seems to work now

[2020-09-04 13:44] cesarsotovalero commented on #11
Great!
Plese close the issue if you want to.

[2020-09-04 13:44] #11 closed

[2020-09-17 13:47] bbaudry commented on #8
@imjhonny is working on this issue
TODO:
- [ ] one view of the module and only its direct dependencies
  - [ ] with all direct dependencies
  - [ ] with omitted / non omitted deps
  - [ ] with direct used / direct bloated / omitted
- [ ] 'expand' this view with inherited dependencies (with same 3 filters as above)
- [ ] expand more with all transitive dependencies
- [ ] have some charts to give an

[2020-11-06 09:27] imjhonny opened #16 "Generate Json file for depclean output"

[2020-11-16 08:31] #16 closed

[2020-11-16 08:36] cesarsotovalero opened #17 "The size of the dependencies does not appear in the report"
DepClean should display the size (in Mb) of each dependency in the dependency tree of the analyzed project. The dependencies in the report should be displayed in decreasing order according to this value. This will allow developers to prioritize the dependencies that they want to remove.

[2020-11-16 08:38] cesarsotovalero commented on #8
This issue has moved to the following repo https://github.com/castor-software/depclean-web

[2020-11-16 08:39] #8 closed

[2020-11-16 08:41] cesarsotovalero commented on #2
The implementation of the Gradle plugin has moved to the branch https://github.com/castor-software/depclean/tree/gradle_plugin. The feauture is under development and will be merged with the DepClean master branch once it become stable.

[2020-11-16 09:32] #17 closed

[2020-11-16 11:19] cesarsotovalero opened #18 "The sorting of dependencies in the report is broken"

[2020-11-16 11:19] #18 closed

[2020-11-18 12:43] bbaudry opened #19 "Change name of json results file"
@cesarsotovalero thank you for the <createResultJson> flag
It's super useful!

How about naming the file depclean-results.json (instead of results.json) ?

[2020-11-18 14:38] #19 closed

[2020-11-25 10:49] cesarsotovalero opened #20 "The status of inherited dependencies is not visible in the console report"

[2020-11-25 12:36] #20 closed

[2020-11-25 16:40] cesarsotovalero opened #21 "The calculation of the dependency size doesn't work in some cases"
DepClean computes the size of the dependencies based on the dependency jars downloads from Maven central using the `mvn dependency:copy-dependencies` plugin. If the name of the JAR does not match the name of the dependencies as obtained from the `mvn dependency:tree`, then the size of the JAR is not obtained and the sorting crashes triggering a `NullPointException`.

[2020-11-25 16:41] #21 closed

[2020-11-26 12:34] cesarsotovalero opened #22 "DepClean gives incomplete information in the JSON file when the version of the dependency is not explicit in the POM"
DepClean fails to fill in the information regarding the `status` and `type` of dependencies in the JSON when the version is not explicit in the POM.

For example, the following dependency is not reported correctly:

[code]

[2020-11-26 12:35] #22 closed

[2020-11-26 15:13] cesarsotovalero opened #23 "Collect information about the number of classes used per dependency"
We want to know the ratio of classes that are used per dependency. Add two fields to the JSON file:
1. `nb_classes`
2. `nb_classes_used`

[2020-11-26 15:21] cesarsotovalero opened #24 "DepClean doesn't show the classes that are used per dependency"
It is useful to have a JSON file with the classes used per dependency.

[2020-11-30 15:17] #24 closed

[2020-11-30 15:27] #23 closed

[2020-12-04 12:46] rvsoni opened #25 "Does not work with JDK 8 bsed project"
The plugin is built on Java 11, so not possible to use with a project using jdk 8.

Throws exception,

`[ERROR] Failed to execute goal se.kth.castor:depclean-maven-plugin:1.1.0:depclean (default) on project idsk-commons-media: Execution default of goal se.kth.castor:depclean-maven-plugin:1.1.0:depclean failed: An API incompatibility was encountered while executing se.kth.castor:depclean-maven-plug

[2020-12-04 14:35] bbaudry opened #26 "Fail the Maven if there exists at least one bloated dependency"
Similar to the jacoco plugin which can fail the build if there is some code that is not covered.

WDYT?

[2020-12-04 15:02] cesarsotovalero commented on #26
Already implemented. See https://github.com/castor-software/depclean#optional-parameters

[2020-12-04 15:32] bbaudry commented on #26
Great, thanks César!!

[2020-12-04 15:32] #26 closed

[2020-12-04 22:05] cesarsotovalero commented on #25
@rvsoni We downgraded DepClean to Java 8 (see https://github.com/castor-software/depclean/commit/2faeb21a7cd928263cd01e06218e57ec17e2b5ee).

Does it work now for you?

[2020-12-05 12:44] rvsoni commented on #25
Thanks for updating for JDK8,

I guess, You will have to make a release of this plugin, as the current 1.1.0 release is with JDK11 support and available from public Maven Repo, so the new release has to push on the Maven repo with an updated version so we can start using this maven plugin.

I tested fix locally by building the project,

Thanks,
Ravi

[2020-12-09 21:40] cesarsotovalero commented on #25
Hi @rvsoni, DepClean is available for JDK 8 in Maven Central. See it at https://search.maven.org/artifact/se.kth.castor/depclean-parent-pom/1.1.0/pom

Please close this issue if it works for you.
Also, consider giving this project a ⭐, it helps us to grow.
Thanks.

[2020-12-12 17:15] rvsoni commented on #25
Hi, @cesarsotovalero

I don't think only updating deapclean-parent-pom:1.1.0 to jdk 8 is enough, I see the same error as only patent pom is updated but the deapclean-maven-plugin is still old jdk11 build,

The maven plugin code for deapclean-maven-plugin:1.1.0 is still old and compiled using JDK11, it's not going to work with jdk8,

MAINFEST.MF of dealclean-maven-plugin:1.1.0
https://repo1.maven.o

[2021-01-08 08:26] patbaumgartner opened #28 "[Error] Unable to resolve all the dependencies."
Hi,

First of all, thanks for coming up with such a great idea of a Maven plugin. Love it!

Running the plugin as described in the Readme.md with versions 1.1.0 and 1.1.2 leads always to the error message
`[Error] Unable to resolve all the dependencies.`

Running Maven in debug mode with -X did not really help ... any idea what could be wrong? I tried to declare the plugin in the pom but also just

[2021-01-14 18:47] amottier commented on #25
I get the same issue with version `1.1.1` so I tried to investigate a little bit more.

Error is related probably to usage of `java.nio.ByteBuffer` in: https://github.com/castor-software/depclean/blob/master/depclean-core/src/main/java/se/kth/depclean/core/analysis/asm/ConstantPoolParser.java

A [comment](https://github.com/castor-software/depclean/blob/c519110c5bd38045564a650bc2ffef5b4ac7fbc0/dep

[2021-01-14 22:07] cesarsotovalero commented on #25
@amottier Thanks for the detailed explanation and the PR. For the moment, DepClean is targeting Java 8 bytecode, so specifying the release option as you suggest should fix this issue. I'll merge https://github.com/castor-software/depclean/pull/29.

@rvsoni WDYT?

[2021-01-14 22:18] cesarsotovalero commented on #28
Hi @patbaumgartner,

I'm glad that you find this plugin useful and I'll enjoy giving you support.

DepClean needs to download all the dependencies of a Maven project in order to analyze the bytecode calls between your project and its dependencies. You're getting `[Error] Unable to resolve all the dependencies` which means that some dependencies cannot be downloaded successfully.

This may be the c

[2021-01-15 12:34] patbaumgartner commented on #28
Hi @cesarsotovalero

i just tried to create a simple spring boot project, just with a web starter and then ran the command on the command line

`mvn se.kth.castor:depclean-maven-plugin:1.1.0:depclean -Dcreate.pom.debloated=true -Dcreate.result.json=true`

and the output was the following. Not sure what is wrong here. Btw. i also tried to add the plugin to the pom.

`C:\Users\abc\Desktop\demo>mvn s

[2021-01-15 16:52] rvsoni commented on #25
Hi @cesarsotovalero

I don't think any code change is required, it needs just one fix related to the maven-compiler-plugin, just forked the existing code and made changes into the "depclean-parent-pom" as follow

Removed
`        <maven.compiler.release>8</maven.compiler.release>`

Added
[code]

Compiled the code with openjdk version "1.8.0_275" and tested the plugin with "Apache Commons Lang 3.10

[2021-01-15 18:19] amottier commented on #25
@rvsoni I agree that using `maven.compiler.source` and `maven.compiler.target` properties and run the build using JDK 8 (need to update the [CI configuration](https://github.com/castor-software/depclean/blob/master/.travis.yml#L9) instead of `maven.compiler.release` with JDK 11 would be a valid solution just as the one I suggested (that by the way does not required any code change).

[2021-01-16 05:26] rvsoni commented on #25
Yes, @amottier, you are correct on fixing this issue by fixing the CI Config to use JDK 8 (i guess OpenJDK) and the correct maven setting will fix this issue,

Note. The entire project has to be re-release (with the new version) to the public maven repo to make it enable to use on JDK8.

[2021-01-18 14:46] SagarGupta1 commented on #28
Facing the same error, kindly let me know when the issue will be resolved.

[2021-01-19 13:15] cesarsotovalero opened #30 "Add size of the project to the JSON"
The JSON file with the information of the dependencies of the projects generated by DepClean includes the size of the JARs of each dependency.  However, it doesn't include the size of the project itself (the root of the JSON tree). This information is relevant to compare the size of the project concerning the size of all its dependencies.

[2021-01-22 19:02] sebthom commented on #28
Same issue here. Would be helpful if the plugin would do the analysis at least for the dependencies it could download and it if could show which dependencies could not be downloaded.

I am trying to use the plugin in an enterprise context were we are using Artifactory as Maven central mirror.

[2021-01-22 23:42] cesarsotovalero commented on #28
Hi @patbaumgartner

I just executed DepClean on a Spring project with the initial configuration. It contains the following dependencies:

[code]

DepClean worked fine. This is the output that I get:

[code]

What version of Java are you using?

[2021-01-23 10:38] cesarsotovalero opened #31 "Allow DepClean to analyze the dependencies that it could download"
In some enterprise development contexts, the project uses dependencies from other repositories than Maven Central. In this case, DepClean could do a partial analysis of the dependencies: analyzing the dependencies that it can download and reporting the ones that it couldn't.

See https://github.com/castor-software/depclean/issues/28#issuecomment-765622567.

[2021-01-25 12:53] patbaumgartner commented on #28
Hi @cesarsotovalero I just downloaded the spring boot app from my PC at home (no nexus, artefactory or so on in between).

You can use the following link to have the same project created - https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.4.2.RELEASE&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot

[2021-01-25 17:56] cesarsotovalero commented on #28
Hi @patbaumgartner

Thanks for the feedback. I think that I found and solved the issue. The problem was related to the execution of the `mvn` commands on Windows. I've added support for it: https://github.com/castor-software/depclean/blob/aa1f7610bb6e70b1d8f15b935e27eda7583787da/depclean-maven-plugin/src/main/java/se/kth/depclean/util/MavenInvoker.java#L59-L64

Please, clone and install the curren

[2021-01-25 18:38] patbaumgartner commented on #28
Thanks @cesarsotovalero

It works now, but the result is not satisfying. Anyhow, wow! I am impressed! 👍

[code]

Would be great if it could find all jars needed if I start the app. .e.g Tomcat, Spring Context/Beans, etc. should be shown.

[2021-01-25 18:42] #28 closed

[2021-01-25 19:00] cesarsotovalero commented on #28
Did you run `mvn clean verify` before executing DepClean?

[2021-01-25 19:01] cesarsotovalero commented on #28
@SagarGupta1 The issue has been resolved.

[2021-01-25 19:05] cesarsotovalero commented on #28
@sebthom The issue has been resolved, see https://github.com/castor-software/depclean/issues/28#issuecomment-767000533

I'm currently working on this https://github.com/castor-software/depclean/issues/31. I'll let you know when it is done.

[2021-01-25 19:07] patbaumgartner commented on #28
`mvn clean verify` helps to reach this. But then still tomcat and maybe other deps are missing. Maybe loaded via reflection?

[code]

[2021-01-25 21:59] cesarsotovalero commented on #28
DepClean uses static analysis. Therefore, it may not detect some reflection calls between the project and its dependencies. Dealing with reflection, dynamic calls, dynamic proxies, etc., is a [hard problem](https://homepages.cwi.nl/~jurgenv/papers/icse17.pdf) for Java code analysis. So, I recommend refining the dependencies of a Maven project as follows:
1. Use DepClean to get the big picture abou

[2021-01-25 22:20] patbaumgartner commented on #28
Thanks so much for answering and your support so far.

Is there a possibility to add hints like for Spring Boot with the
web-starter that we could add the embedded Tomcat as a mandatory dependency
and then we continue the search?
Would it be possible to search for strings which look like a package,
method which is used during reflection and continue the search?

I am just brainstorming and thinkin

[2021-01-25 23:19] cesarsotovalero commented on #28
Hi @patbaumgartner,

DepClean has an `ignoreDependencies` parameter to skip the analysis of custom dependencies (see https://github.com/castor-software/depclean#optional-parameters). Since we cannot cover all the possible reflection-based libraries, we prefer to let this decision to developers 😄

DepClean can detect classes or class members that are created or invoked dynamically using basic const

[2021-01-27 10:49] SagarGupta1 opened #32 "IllegalArgument Exception"
Hi Team,
When I am running the mvn se.kth.castor:depclean-maven-plugin:1.1.2-SNAPSHOT:depclean -Dcreate.pom.debloated=true -Dcreate.result.json=true I am getting :

Failed to execute goal se.kth.castor:depclean-maven-plugin:1.1.2-SNAPSHOT:depclean (default-cli) on project req-lineitem-srv: Execution default-cli of goal se.kth.castor:depclean-maven-plugin:1.1.2-SNAPSHOT:depclean failed.: IllegalArg

[2021-02-05 19:58] cesarsotovalero commented on #32
Hi @SagarGupta1,

Can you run DepClean with stacktraces turned on to see which LOC is causing the problem?

Please execute: `mvn se.kth.castor:depclean-maven-plugin:1.1.2-SNAPSHOT:depclean -Dcreate.pom.debloated=true -Dcreate.result.json=true -e`

[2021-02-09 13:13] ikysil commented on #25
This issue is still reproducible with JDK 8

[2021-02-09 16:40] rvsoni commented on #25
@ikysil

This plugin is yet not released with the fix, so the artifacts on the maven repo are not compatible with JDK 8,

Ravi

[2021-03-09 10:12] cesarsotovalero opened #33 "Size of the project is not reported in the depclean-json"
The JSON file produced by DepClean doesn't show the size of the root node, ie. the analyzed project.

[2021-03-09 12:18] cesarsotovalero opened #34 "NaN usage ratio in depclean-results.json"
When a dependency has no types, a division by zero occurs, causing the `usageRatio` in `depclean-results.json` to be `NaN`.

Example:
[code]

[2021-03-09 12:45] cesarsotovalero opened #35 "Add a parameter to detect compile scope dependencies that are only used for testing"
At this moment, DepClean analyzes the project's bytecode located in `target/classes` and `target/test-classes`. It is desirable to have a parameter that allows to not analyze bytecode classes used for testing in the project. This way, the dependencies that are only used for testing will be considered unused.

This parameter is useful to detect dependencies that have a `compile` scope but are only

[2021-03-09 14:38] #33 closed

[2021-03-09 14:38] #34 closed

[2021-03-09 14:38] #35 closed

[2021-03-09 21:19] cesarsotovalero opened #36 "The actual parameters' name in the command line are not the same as in the README"
It turns out that the parameters used in the command line read differently than in the readme.

Example:
<table>
<tr>
	<td>In the README
	<td>In the command line
<tr>
	<td>failIfUnusedDirect
	<td>fail.if.unused.direct
</table>

It would be better to unify them, eg. all camel case.

[2021-03-09 21:20] #36 closed

[2021-03-11 09:38] cesarsotovalero opened #37 "Looking for Google Summer of Code (GSoC) students"
Hi,

DepClean is part of Google Summer of Code, as a subproject of the [CASTOR Software Research Centre](https://www.castor.kth.se/).

If you'd like to be a DepClean contributor as part of GSoC, drop a comment on this issue.

Best,
César

[2021-03-11 21:29] cesarsotovalero commented on #30
Fixed at https://github.com/castor-software/depclean/commit/43950f467d2279b592fad8c92060e419d1758cdb

[2021-03-11 21:29] #30 closed

[2021-03-12 10:39] Rakshit11 commented on #37
I'm interested in DepClean for contribution with good development skills

[2021-03-12 11:32] cesarsotovalero commented on #37
Welcome @Rakshit11! Can you make a PR adding tests, refactoring, or fixing bugs?

[2021-03-12 21:51] cesarsotovalero opened #38 "Lack of code style convention"
Currently, the DepClean codebase lacks proper code style conventions. This makes the codebase messy and is overall bad for maintainability. The best way to mitigate this is by enforcing the use of strict code style rules.

[Checkstyle](https://checkstyle.sourceforge.io/) is currently one of the best tools for this purpose. Configuring Checkstyle in DepClean will help newcomers to have a more clean

[2021-03-13 19:01] ChristosToxiadis commented on #37
Hello my name is Chris, and i would like to contribute because i think that this is an interesting Project.

[2021-03-14 15:03] ABHAY0O7 commented on #38
Hey... @cesarsotovalero,
I would like to work on this enhancement, may I?
And if yes then please also suggest to me some documentation of this repo, because if we use checkstyle for code style conventions then we have to also write incode short documentation of every method, class, and interface. So the documentation will help me a lot in understanding the codebase and also in writing short but ef

[2021-03-14 15:14] yashrajjain726 commented on #37
Hi @cesarsotovalero !

I'm Yashraj, a learning enthusiast from Cv Raman Global University, Bhubaneshwar pursuing B.Tech in Computer Science. I am a Competitive Java Programmer and a Web Developer too. I have learned the concepts of Java on OOPs and I also practice Data Structures and Algorithms using Java.

I really like this project and would certainly devote my time to contribute to it. I have a

[2021-03-14 18:22] #38 closed

[2021-03-14 18:24] cesarsotovalero commented on #38
Hi @ABHAY0O7, Welcome!

I've already done it. But you can add documentation and fix Checkstyle warnings.

[2021-03-15 06:07] Rakshit11 commented on #37
On it

[2021-03-15 14:46] ABHAY0O7 commented on #38
Ya sure, I am on it.

[2021-03-15 17:35] yashrajjain726 opened #40 "Image URL issue !"
In the  [Depclean Github Deployed Page](https://castor-software.github.io/depclean/) the image URL is expired. Please change the URL, by setting the project locally and changing the link to [this link](https://github.com/castor-software/depclean/blob/master/.img/logo.svg).

Here is the sample screenshot, that I wanted to attach with this issue. So, that the issue can be confirmed.

![Image URL err

[2021-03-15 21:28] cesarsotovalero opened #41 "The DepClean page on GitHub is outdated"
The current [github-pages](https://castor-software.github.io/depclean/) of DepClean needs to be  updated/reimplemented completely.

This is what we want:
- A simple and beautiful Jekyll based landing page that:
	- [ ] Describe DepClean
	- [ ] Present some statistics regarding the number of dependencies analyzed + number of pull request accepted thanks to DepClean (see [the companion paper](https:/

[2021-03-15 21:29] cesarsotovalero commented on #40
Hi @yashrajjain726, thanks for reporting this issue.
The GitHub page of DepClean is outdated.
We want to create a new and better one.
I'm opening a new issue (https://github.com/castor-software/depclean/issues/41) for this.

[2021-03-16 06:31] yashrajjain726 commented on #37
Hey @cesarsotovalero ! I saw the documentation and I got to know that the project is made using Maven, so I am learning that part of Java. So, can you please tell me that, what are other topics that I need to learn to contribute to this project? I will learn all those topics asap, and start to contribute to this great project.

[2021-03-16 07:52] ABHAY0O7 opened #42 "[BUG] Checkstyle report is generating for sun_shecks instead of google_checks."
**Description of the bug**
In the pom.xml file of the maven plugin, it is mentioned that google style is adopted for the checkstyle plugin but after running
 `mvn checkstyle:checkstyle` the report generated in checkstyle.html is for sun checks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '\depclean\depclean-maven-plugin\target\checkstyle-checker.xml'
2. See line no. 63
3. Run `mvn

[2021-03-16 10:26] cesarsotovalero commented on #42
Hi @ABHAY0O7, thanks for the bug report.
The Chekstyle report was fixed in https://github.com/castor-software/depclean/commit/2d5e12996b9cd5e580b8583ee03963e740e3cab6

Can you make a pull on the last version of the project and confirm that it is fixed?

[2021-03-16 12:10] yashrajjain726 commented on #42
I checked that part, it is fixed.

[2021-03-16 12:14] cesarsotovalero commented on #42
Great, thanks @yashrajjain726

[2021-03-16 12:14] #42 closed

[2021-03-16 12:45] cesarsotovalero commented on #40
Moved to https://github.com/castor-software/depclean/issues/41

[2021-03-16 12:45] #40 closed

[2021-03-16 20:54] mtorres10 commented on #25
@rvsoni, @cesarsotovalero  and all team castor-software, want to say this project sounds like a fantastic idea.

I made the changes mentioned by @rvsoni [on this branch](https://github.com/mtorres10/depclean/tree/feature/jdk8support) built locally to use with a JDK 8 project.

When using it locally I am getting an error related to nio:

I compiled using adopt-openjdk hotspot version 282

Can you p

[2021-03-16 21:27] mtorres10 commented on #25
@cesarsotovalero Closed PR as it seems more changes are needed in order to support JDK8 on version 2.0.1-snapshot. Will update all my findings

[2021-03-16 21:37] cesarsotovalero commented on #25
Hi @mtorres10. I downgraded to Java 8 in the past to address this issue (see https://github.com/castor-software/depclean/commit/2faeb21a7cd928263cd01e06218e57ec17e2b5ee), but I had to upgrade again to Java 11 since it didn't solve the issue.

[2021-03-16 21:40] cesarsotovalero commented on #37
A good starting point to learn is the companion research paper [A Comprehensive Study of Bloated Dependencies in the Maven Ecosystem](https://arxiv.org/abs/2001.07808).

[2021-03-16 23:08] mtorres10 commented on #25
@cesarsotovalero I was able to successfully build and execute a using JDK8. These are my findings:

- Change your POM same as your commit.
- You need to change method Path.of to Paths.get, [see this link](https://stackoverflow.com/questions/60616244/replace-nio-file-pathofstring-for-java-8).
- You need to clean any previous installation you did on your mave repo (I deleted the corresponding folder

[2021-03-17 08:45] amottier commented on #25
@mtorres10 your PR looks good to me but as [CI is configured to use OpenJDK 11 for the build](https://github.com/castor-software/depclean/blob/master/.travis.yml#L9) I would recommend to update the `pom.xml` to use:
[code]
instead of
[code]

[JEP 247](http://openjdk.java.net/jeps/247) mention that `--release N` is equivalent to `-source N -target N -bootclasspath <documented-APIs-from-N>` (for N <

[2021-03-17 12:01] #25 closed

[2021-03-17 14:09] amottier commented on #25
@cesarsotovalero thanks for merging the PR :+1: Do you plan to release a 2.0.1 built with this modification? I'm asking because for users who want to use the plugin with Java 8 they currently still need to download the source and build from sources the plugin.

[2021-03-17 14:44] cesarsotovalero commented on #25
Minor is coming soon...

[2021-03-18 01:32] mtorres10 opened #46 "Depclean cannot decompress jar files which have both a file and folder named the same"
**Describe the bug**

When a dependency has both a folder and a file named the same at the same level depclean throws a file not found exception (java.io.FileNotFoundException).

When both folder and file are named the same, depclean extracts the file correctly but does not create the folder. If folder has child items, depclean tries to extract those items to the folder (as it should), but since i

[2021-03-18 02:41] mtorres10 commented on #46
After further research this is not a Java or code issue, this is limitation of the OS, although is strange how the jar was created with such structure. Still the fact remains that an exception halts the extraction of the remaining files.

[2021-03-18 02:41] #46 closed

[2021-03-18 04:02] mtorres10 opened #47 "DepClean doesn't fully extract JAR content when the extraction of a single file fails"
**Is your feature request related to a problem? Please describe.**
When analyzing for some dependencies, for example selenium (see https://github.com/castor-software/depclean/issues/46) due an odd jar structure depclean does not fully extract jar contents, so not all classes are analized

**Describe the solution you'd like**
Allow the extraction of files to continue, and print a warning of which f

[2021-03-18 04:50] mtorres10 commented on #47
PR for this feature request is [here](https://github.com/castor-software/depclean/pull/48#pullrequestreview-614964091)

[2021-03-18 09:14] cesarsotovalero commented on #47
Thank @mtorres10. I reviewed your PR. Please remove all the changes that are not related to the fix, as I mentioned in the review. Once you do that, I'll accept your PR.

[2021-03-18 12:31] ABHAY0O7 opened #49 "ENHANCEMENT"
There is a lack of documentation for various packages, classes, interfaces, and methods.

[2021-03-18 12:37] ABHAY0O7 commented on #49
PR for some part of this enhancement is  #50

[2021-03-18 13:38] cesarsotovalero commented on #49
Thanks @ABHAY0O7. I merged your PR>

[2021-03-18 13:38] #49 closed

[2021-03-18 20:58] mtorres10 commented on #47
@cesarsotovalero  PR has been fixed as requested.

[2021-03-18 21:30] #47 closed

[2021-03-19 14:21] cesarsotovalero opened #51 "Looking for someone with the privileges to create the [depclean] tag on StackOverflow.com"
In StackOverflow, please create the tag **[depclean]** to post any question on the usage of DepClean.
The tag is not available at the moment, and you need at least 1500 reputation points to create the tag.
Once the tag is created, all the questions should appear in [https://stackoverflow.com/questions/tagged/depclean](https://stackoverflow.com/questions/tagged/depclean)

[2021-03-21 20:21] ABHAY0O7 opened #53 "Lack of Test"
Tests are the best way to make sure that our program is working fine and will work fine in the future too and if somehow our program didn't work fine then the tests warn us before the program fails.
So, currently, there only a few tests in the whole depclean project and writing more tests for the project will definitely an upper hand on unintentional program failures.

[2021-03-21 20:22] ABHAY0O7 commented on #53
For this feature, I have implemented a test in #52

[2021-03-22 08:44] ABHAY0O7 commented on #53
Hey! @cesarsotovalero can u you please review it.

[2021-03-22 16:34] ABHAY0O7 commented on #37
Hey @cesarsotovalero! I am Abhay a first-year student pursuing B.tech with IT as a major part of my study at the Indian Institute of Information Technology, Allahabad. I will like to work on this project this summer and after that too. I have an overview of this  project and also want to discuss about the GSoC project and the issues that are mentioned [here](https://docs.google.com/document/d/1zCR

[2021-03-22 17:14] cesarsotovalero opened #55 "Unit tests JarUtils"
The class `JarUtils` in `depclean-maven-plugin` is not tested.

[2021-03-22 17:15] #55 closed

[2021-03-22 21:28] cesarsotovalero commented on #37
Hi @ABHAY0O7, thanks for reaching out. I've noticed that you have already contributed to this repo: that's great! We'll select one student to work in DepClean as part of the GSoC. The most important quality that we're looking for is the ability to make high-quality contributions to our codebase. Therefore, having accepted PRs is a great indicator for us when choosing candidates.

Implementing the

[2021-03-22 21:48] ABHAY0O7 commented on #53
This feature got implemented in #54

[2021-03-22 21:48] #53 closed

[2021-03-25 14:16] KishkinJ10 commented on #37
sir i am a beginner and want to start my open source journey for GSoC 2021 can you suggest me something in which i can contribute?

[2021-03-25 22:41] ABHAY0O7 commented on #37
Hey! @cesarsotovalero,
I wanted to discuss more about the project specifically the depclean-gradle-plugin. But I am facing some difficulties in using the mailing list provided by the Castor organization. I am not understanding that how can I communicate with you on that mailing list. Can you please help me regarding this issue?

Thank you

[2021-03-27 16:10] ABHAY0O7 opened #66 "HELP"
Hey! @cesarsotovalero,
I am really sorry to open this issue but I am facing some problems in communicating with you, please reply to this issue #37 conversation. I have asked a question there.

Thank you
Abhay

[2021-03-27 17:28] cesarsotovalero commented on #37
Then the way is by opening an issue on this repo.

The mailing list is not for communications regarding technical details. It is intended to be used for general questions with the candidates. For technical questions please open an issue in this repo.

No, my personal e-mail is not for this purpose.

The best you can do as a candidate is to demonstrate your technical and communication skills with p

[2021-03-27 17:32] cesarsotovalero commented on #66
Opening issues actually the best way to communicate and improve the project. Don't hesitate to open issues here. I've answered your question in #37.

[2021-03-27 18:04] #66 closed

[2021-03-28 04:49] ABHAY0O7 opened #67 "DepClean Gradle plugin"
Hello @cesarsotovalero.
I was thinking of an idea to implement depclean-gradle-plugin and I have one for it.
The logic will be the same as what we used in the depclean-maven-plugin but in a Gradle project, we have to just convert the build.gradle file into its corresponding pom-default.xml and then we can use the gradle-maven plugin to analyze the dependencies and the project or we can just use it

[2021-03-28 20:17] cesarsotovalero commented on #32
Hi @SagarGupta1, I'm closing this issue due to a lack of engagement. Please open another issue if you want to.

[2021-03-28 20:17] #32 closed

[2021-03-28 20:35] cesarsotovalero commented on #67
Hi @ABHAY0O7,
I’ve tried some tools before with the idea of Mavenizing existing projects, eg. [Mavenizer](www.soften.lu/site/OpenSource/Mavenizer), in order to apply DepClean directly and then report on the results. However, after some experiments, I realize that none of the tools that I tried produced a consistent POM file. The problem is that the Gradle build file is Groovy-based. This means tha

[2021-03-28 21:36] ABHAY0O7 commented on #67
Hi @cesarsotovalero,
I got the point and failure or risks of what I had suggested earlier. And for now, as you suggested that the best idea is to rely on Gradle API for this purpose then we have to also consider that some developers still use kotlin as a build script for the Gradle build file so we have to also consider it while implementing this feature.

Thank you

[2021-03-29 11:10] ABHAY0O7 opened #68 "Multi-Module support"
Hey! @cesarsotovalero,
As mentioned in the CASTOR's GSoC idealist for DepClean project that there is a need for the support of analysis of the multi-module projects.
I want to ask that can you describe this feature a little bit more?
As there is no existing issue or PR regarding this feature so I am unable to getting what is the current situation of this issue (feature) and what is needs to be imp

[2021-03-29 16:28] cesarsotovalero commented on #68
Hi @ABHAY0O7,

### Problem description

DepClean currently analyzes a single module of a Maven project. For example, let's say that a project has three modules `A`, `B`, and `C`. You can run DepClean to get the usage status of dependency of, say, project `A`. Suppose that you found that dependency `x` in module `A` is not used. So, DepClean reports this dependency as "potentially unused". However,

[2021-04-04 21:41] ABHAY0O7 opened #70 "Checkstyle report is generating for sun_checks instead of google_checks"
The problem about the checkstyle that I mention in this issue #42 still exists.
----------------------------------------------------------------------------------------------------------------------------------------------
See report generated:
![image](https://user-images.githubusercontent.com/75938293/113521521-92d63e00-95b7-11eb-885c-a12fbf74c3e7.png)
-------------------------------------------

[2021-04-05 09:00] cesarsotovalero commented on #70
Hi @ABHAY0O7, thanks for reporting this issue.

Checkstyle is part of the DepClean CI pipeline. If you look at the `pom.xml` of the DepClean modules (eg. https://github.com/castor-software/depclean/blob/master/depclean-core/pom.xml#L48), you will notice that the configuration file used is the `checkstyle.xml` located at the root of the repo, which is actually a less strict version of the Google co

[2021-04-05 13:26] ABHAY0O7 commented on #51
Hello @cesarsotovalero,
I recently got some problem in using depclean-maven-plugin.
So, I decided to post it on StackOverflow but I am unable to use the tag `depclean`.
It is showing this
`Creating the new tag 'depclean' requires at least 1500 reputation. Try something from the existing tags list instead.`
Do I have to earn 1500 reputations to use the tag depclean?
Also when I tried to search `dep

[2021-04-05 14:20] cesarsotovalero commented on #70
@ABHAY0O7 Please close this issue IF https://github.com/castor-software/depclean/pull/71 fixed this issue. Thanks.

[2021-04-05 14:53] ABHAY0O7 commented on #70
Thanks, @cesarsotovalero,
I checked it and the issue is solved.

[2021-04-05 14:53] #70 closed

[2021-04-08 19:15] ABHAY0O7 commented on #51
Hey! @cesarsotovalero
I ask a question regarding depclean [here](https://stackoverflow.com/questions/67010450/dependencies-where-not-copied-locally-depclean-warning)
But I was not able to use the tag `depclean`.
I hope you will help me out with this question as soon as possible.

Thank you
Abhay

[2021-04-08 20:46] cesarsotovalero commented on #51
Hi @ABHAY0O7, thanks for pointing this out. You're definitely right, the `depclean` tag doesn't exist in SO, and to create it [one needs at least 1500 points of reputation](https://stackoverflow.com/help/privileges/create-tags). I have only 98 points right now, so I cannot create the tag at the moment. I'll edit this issue and let it open with the hope that someone with the necessary points create

[2021-04-08 20:52] cesarsotovalero commented on #51
Hi @ABHAY0O7, thanks for asking this question in SO.
I'll answer your question there 👍

[2021-04-09 18:40] ABHAY0O7 commented on #37
Hello! @cesarsotovalero,
I have successfully shared my draft proposal for this project on GSoC official website.
[Here](https://docs.google.com/document/d/1WG1kZ5bHKFLf2PCKPQdWQn2VSGbvdQBJ6eixddJMmNs/edit) is the link for my draft proposal.
I will love to get your suggestions in the comments so that my proposal can add more value to this project and can become more beneficial for the organization,

[2021-04-10 14:12] afillatre opened #75 "[BUG] Depclean failing on Java 15"
**Describe the bug**
`Execution default-cli of goal se.kth.castor:depclean-maven-plugin:2.0.2-SNAPSHOT:depclean failed: Unsupported class file major version 59 -> [Help 1]`

**To Reproduce**
Steps to reproduce the behavior:
1. jenv local 15 at project root
2. `mvn clean compile compiler:testCompile se.kth.castor:depclean-maven-plugin:2.0.2-SNAPSHOT:depclean`

**Expected behavior**
`depclean` ends

[2021-04-10 16:55] afillatre commented on #75
That's confirmed. Upgrading to ASM 9.1 fixes this issue. I'm finishing some tests, but if all goes the right way, i'll submit a PR

[2021-04-11 07:28] afillatre opened #76 "[BUG] Mapstruct processor dependency is deleted"
**Describe the bug**
After depclean completes, and given mapstruct processor is used, the `mapstruct-processor` direct dependency is not longer present on the debloated `pom.xml`

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the maven-processor-plugin to use the mapstruct annotation
[code]
2. Add required mapstruct dependencies
[code]
3. Run depclean with debloated-pom generation

[2021-04-11 07:38] afillatre opened #77 "[BUG] Lombok provided dependency is deleted"
**Describe the bug**
After depclean completes, and given lombok is used, the lombok direct dependency is not longer present on the debloated `pom.xml`

**To Reproduce**
Steps to reproduce the behavior:
1. Use Lombok (for instance `@Data` annotation) with its dependency
2. Run depclean

**Expected behavior**
Lombok is kept in the debloated pom

**Additional context**
Lombok does bytecode modificati

[2021-04-11 07:41] cesarsotovalero commented on #75
Hi @afillatre, thanks for reporting this issue.

You are using Java 15 (and compiling your code for it so the generated class files are only valid for Java 15 and newer). The version of ASM used by DepClean is 7.1 (see https://github.com/castor-software/depclean/blob/master/depclean-core/pom.xml#L83), it does not support reading Java 15 classfiles (which is what version 59 corresponds to).

One ea

[2021-04-11 07:41] cesarsotovalero commented on #75
Looking forward for this PR.

[2021-04-11 07:48] cesarsotovalero commented on #77
Hi @afillatre, we are aware of this case. Lombok manipulates the bytecode at runtime, so there is no way for a tool like DepClean to notice that it is being used.

One way to mitigate this issue is implementing source code analysis, which still does not guarantee that all the dynamic usages will be caught.

If you want to make sure that lombok is kept in the debloated pom, just configure DepClean

[2021-04-11 07:49] afillatre opened #78 "[BUG] Classes declared in spring xml configuration are not kept as dependencies"
**Describe the bug**
Classes configured in spring's `bean.xml` files are not kept as mandatory dependencies.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Spring project with XML configuration
2. Add rightful maven dependencies
2. Run depclean

**Expected behavior**
All spring beans declared in the XML configuration count as rightful dependencies

**Additional context**
It may be

[2021-04-11 07:55] cesarsotovalero commented on #76
Hi @afillatre, thanks for reporting this issue.

Can you please give more details about this proposal:

[2021-04-11 07:59] afillatre commented on #77
Yes, I figured I much and used that workaround. I have no other solution ATM, other than doing a quick source code search for well-known libraries that work this way (which implies a tighter coupling to specific libs :/)

[2021-04-11 08:02] afillatre commented on #76
Yes. Given this plugin configuration
[code]

Depclean could consider `org.mapstruct.ap.MappingProcessor` to be rightfully part of the project, and add it to the Dependency Usage Analysis, because it is declared in the pom as a processor

[2021-04-11 08:04] afillatre commented on #77
BTW, what's the point of cleaning `provided` dependencies ? Those dependency are not included in the packaging (by design), so why bother cleaning them ?
That may actually fix some issues with Lombok, Mapstruct, etc.

[2021-04-11 08:22] cesarsotovalero commented on #76
@afillatre, I understand your proposal.
It is definitely not difficult to implement some rules that analyze the `xml` pom to consider this and other similar usage cases.

I'll implement the pom rule parser ASAP.

If you feel comfortable with the task, the debloated-pom is generated here https://github.com/castor-software/depclean/blob/master/depclean-maven-plugin/src/main/java/se/kth/depclean/DepC

[2021-04-11 08:27] afillatre opened #79 "[FEATURE] Performance improvement"
**Is your feature request related to a problem? Please describe.**
On large project, depclean takes a very long time to execute, most of the time is spent on excluding dependencies.

Here are some details. Given this analysis result:
[code]

It took 5h29min to complete depclean debloated-pom generation.

I have no timestamps, but I'd say it was between 20/30 min to analyse the dependencies, then t

[2021-04-11 08:31] cesarsotovalero commented on #37
Hi @ABHAY0O7, I've revised your proposal (added comments there).

**General comment:** The current version of your proposal is vague. You need to be more specific. Describe exactly how do you plan to accomplish each of the tasks. The most important is to be focused. For example, in the case of the Gradle plugin, give a pointer to some related documentation on the topic, and make a figure with the

[2021-04-11 10:39] cesarsotovalero commented on #77
We want to make DepClean as configurable as possible. That's why the `ignoreScopes` parameter is provided. The user can choose not to analyze dependencies with specific scopes as desired, e.g. `test` and `provided` scopes.

[2021-04-11 10:50] #75 closed

[2021-04-11 12:17] afillatre commented on #77
I see. Maybe `provided` (and even `test`) scope(s) should be excluded by default to avoid those issues ? Anyway, it's good that it is a much configurable :)

[2021-04-11 12:47] afillatre opened #81 "[BUG] Web.xml filters not kept as dependencies"
**Describe the bug**
If you have custom filters in your `web.xml`, they do not count as project dependencies, and their jar is removed i the debloated `pom.xml`

**To Reproduce**
Steps to reproduce the behavior:
1. Add custom filter in `web.xml`, like this:
[code]
2. Run depclean

**Expected behavior**
Web filters declared in the web.xml are added to the Dependency Usage Analysis

[2021-04-11 14:01] ABHAY0O7 commented on #68
Hello @cesarsotovalero
I came up with an idea for this.
<b>Idea : </b>After generating a depClean analysis report for all the modules (say `w, x, y, z`), we can compare two sets
`usedUndeclaredArtifacts` of `w` with `unusedDeclaredArtifacts` of all other modules `x, y, z`.
`usedUndeclaredArtifacts` of `x` with `unusedDeclaredArtifacts` of all other modules `w, y, z`.
Similarly for others.

At the

[2021-04-12 12:07] ABHAY0O7 commented on #68
Also, @cesarsotovalero,
Can you please tell me that depClean follows which of the following mechanism in a multi-module(say A, B, C, D) project?
a) Analyze module A and output it to the console, then analyzes module B and output it to the console, then for C and D. or,
b) Analyze module A and store the report, then analyze module B and store the report, then C and then D. And in the end output all

[2021-04-12 13:10] #76 closed

[2021-04-13 05:59] ABHAY0O7 commented on #51
Hi @cesarsotovalero,
I want to clarify that the problem I asked about in stackoverflow got solved.
The problem is occurring because I run the project on my C-drive (default) where probably depClean doesn't have any write access to it. Therefore, I tried to run the project on my D-drive, and boom! it runs successfully without any warning.
I think this information may be added to the README.

Thank

[2021-04-13 14:54] ABHAY0O7 commented on #37
Hello @cesarsotovalero,
I understand that what do you want from me.
I added some new plans and approaches for some tasks and also resolved most of your comments.
It is true that currently, I have no idea for the implementation of the Gradle plugin but I am working on it and I need some more time for that.
And also, since there are only 3 hrs. left for the final submission of the proposal, therefor

[2021-04-13 15:29] cesarsotovalero commented on #37
Hi @ABHAY0O7, I went over your proposal. The current version looks better, but it still far from being great. The Gradle plugin is a milestone in this project, and we understand that the chosen candidate may need some time to do it, which is fine.

Since the submission deadline is approaching, I recommend you submit your current version as it is. We have received many applications. However, only a

[2021-04-13 15:35] cesarsotovalero commented on #68
Hi @ABHAY0O7. At the moment, DepClean follows the approach that you described in a). Each module is analyzed one by one, separately.

[2021-04-13 15:43] cesarsotovalero commented on #68
Hi @ABHAY0O7,
What you propose is actually a meta-report that summarizes the analysis of the individual modules at the end of the multi-module analysis. This is nice to have, and also a good starting point for resolving this task 👍 .

Notice that the proposed approach doesn't consider interdependencies between modules. To properly handle a multi-module project, we need to have information on all t

[2021-04-14 18:22] ABHAY0O7 commented on #68
Hello @cesarsotovalero

I understand that we need to consider interdependencies between modules. But, it is impossible with the current situation of the maven plugin.
So, I think the first step to support MMA is to change the current situation of the maven plugin from this

to this

And only after achieving this, we can think of an approach to consider interdependencies between modules.

Thank you

[2021-04-16 13:41] ABHAY0O7 opened #86 "[BUG] Parameter <createPomDebloated> is not working."
**Describe the bug**
When I am trying to run either `mvn se.kth.castor:depclean-maven-plugin:2.0.1:depclean -DcreatePomDebloated=true` or `mvn se.kth.castor:depclean-maven-plugin:2.0.1:depclean -DcreatePomDebloated=true -DcreateResultJson=true` then either of these is not producing a `debloated-pom.xml` in the root of the project (The later one is only producing a .json and .csv file but not .xml

[2021-04-16 13:53] cesarsotovalero commented on #86
Hi @ABHAY0O7, thanks for reporting this.
It is caused by a typo in the property that defines the parameter, here https://github.com/castor-software/depclean/blob/master/depclean-maven-plugin/src/main/java/se/kth/depclean/DepCleanMojo.java#L102.

I noticed that you actually solved this in your PR https://github.com/castor-software/depclean/pull/85.
Can you check if the `debloated-pom.xml` is genera

[2021-04-16 15:24] ABHAY0O7 commented on #86
Hi @cesarsotovaler

You are right, the whole problem is just because of the typo.

Currently, since my PR is not merged, that's why the debloated pom is generating with this parameter `-DcreatPomDebloated=true` not this `-DcreatePomDebloated=true`.
But, now I can continue my work and when I finished that then you can review that and merge accordingly.
Also, that PR will solve this issue too so if

[2021-04-16 19:26] cesarsotovalero commented on #86
Hi @ABHAY0O7, that's excellent. Please provide some unit tests as part of https://github.com/castor-software/depclean/pull/85, then I'll merge it!

[2021-04-18 13:55] ABHAY0O7 commented on #86
Hi @cesarsotovalero,
I noticed that the command `mvn se.kth.castor:depclean-maven-plugin:2.0.1:depclean -DcreatePomDebloated=true` still not producing any debloated pom.
But this command is `mvn se.kth.castor:depclean-maven-plugin:2.0.1:depclean -DcreatPomDebloated=true` producing a debloated pom.

Can you please confirm that this issue is solved or not?

Thank you.

[2021-04-20 21:01] cesarsotovalero commented on #86
Hi @ABHAY0O7,

The comma`-DcreatePomDebloated=true` parameter is not working on version 2.0.1 of DepClean. However, it works on version `2.0.2-SNAPSHOT` (the current version on master), thanks to your merged PR (https://github.com/castor-software/depclean/pull/85). Therefore, this issue is solved and you can close it.

[2021-04-21 08:00] ABHAY0O7 commented on #86
Hi @cesarsotovalero
I got it, I was using the wrong command.
Correct one is `mvn se.kth.castor:depclean-maven-plugin:2.0.2-SNAPSHOT:depclean -DcreatePomDebloated=true`.
All LGTM, so I am closing this issue now.

Thank you

[2021-04-21 08:00] #86 closed

[2021-05-01 08:29] ABHAY0O7 commented on #67
Hello @cesarsotovalero,
In recent days I had a tough time with covid but now it is all okay.
I want to show you some of my efforts in the implementation of the Gradle plugin.
I didn't create a PR for that as it is yet incomplete, but you can review my work [here](https://github.com/ABHAY0O7/depclean/tree/My_gradle) inside the `depclean-gradle-plugin` directory.
I only implemented (refactored) the

[2021-05-04 06:54] imjhonny opened #90 "[BUG] module-info"
**Describe the bug**
Dependencies with _module-info_  appear as bloated, but it is indeed used.

**To Reproduce**
For example in [Spork's visualization](https://castor-software.github.io/depclean-web/#/result/LD/spork/0111111111) the direct dependency junit-jupiter appears as bloated.  See also [Spoon's visualization ](https://castor-software.github.io/depclean-web/#/result/LD/spoon/0111111111)

*

[2021-05-05 21:57] ABHAY0O7 commented on #90
Hello @imjhonny
This does not seem to be a bug for me, in fact, the [author](https://github.com/cesarsotovalero) uses a filter so that depClean didn't analyze classes like `module-info`, `package-info`, etc.
See [here](https://github.com/castor-software/depclean/blob/cbfc3954b429a124d92d18f125aac3daaf0b5f68/depclean-core/src/main/java/se/kth/depclean/core/analysis/ClassFileVisitorUtils.java#L91) i

[2021-05-26 09:30] bbaudry opened #91 "Porting Maven tests to Gradle tests"
This folder includes small Maven projects to be used for testing Depclean with Maven:
https://github.com/castor-software/depclean/tree/master/depclean-maven-plugin/src/test/resources-its/

@ABHAY0O7, can you add build.gradle files for each of these projects, so you can use them to test the Depclean gradle plugin?

[2021-05-26 09:32] bbaudry opened #92 "Testing the gradle plugin"
@ABHAY0O7 can you implement a test harness for the gralde plugin, using the small gradle projects that you initiated with issue #91?

[2021-05-26 13:29] ABHAY0O7 commented on #91
Hi! @bbaudry,
I think you are saying that I have to convert these maven projects into Gradle projects so that I can use them in testing of Gradle plugin?
If Yes, then this single command `gradle init` will do the whole work for me.
If this approach is not correct, then enlighten me with some correct ways of doing this.

Thank you

[2021-05-26 13:57] bbaudry commented on #91
You are right @ABHAY0O7, that's exactly the goal

[2021-05-26 16:04] ABHAY0O7 commented on #92
@bbaudry @tdurieux
Yes, I can implement this.
But, there are few things that I want to convey to you :

- Firstly, the code that I have written until now  (#89 ) is at this stage: -

    1. It analyzes the Gradle project (with its sub-projects if any) and divides the dependencies into three different categories `usedDirectArtifacts`, `usedTransitiveArtifacts`, and `unusedDirectArtifacts`.

- Now,

[2021-05-27 20:09] ABHAY0O7 commented on #91
Hello @bbaudry @tdurieux
I need some help!
As in the Maven plugin, we copy all the dependencies locally by invoking the maven command
`mvn dependency:copy-dependencies -DoutputDirectory=$buildDir\dependencies`. See [here](https://github.com/castor-software/depclean/blob/cbfc3954b429a124d92d18f125aac3daaf0b5f68/depclean-maven-plugin/src/main/java/se/kth/depclean/DepCleanMojo.java#L368)
But in a Gra

[2021-05-28 11:53] tdurieux commented on #91
There is probably no command for that. You will need to code it. You can do that by taking the classpath and copying all the dependency in the good folder

[2021-06-02 09:31] tdurieux commented on #91
I meant that you can replace this part of the code https://github.com/castor-software/depclean/blob/cbfc3954b429a124d92d18f125aac3daaf0b5f68/depclean-maven-plugin/src/main/java/se/kth/depclean/DepCleanMojo.java#L370 with your own java method that does the same thing.

[2021-06-05 08:24] tdurieux commented on #92
Hello, could you try to explain by message first? I am a busy week I am not sure that we will find a time for a meeting.

[2021-06-06 17:27] ABHAY0O7 commented on #92
Ok, no problem,
I will mention my issue in this thread by tomorrow.

[2021-06-07 16:22] ABHAY0O7 commented on #92
Hello @bbaudry @tdurieux
Earlier I was facing 3 problems, but now, I have solved two of them.
I am currently working on the third problem and I may solve this one too.
If I solve this one, then I will push these commits on my current open PR, and if not then I will convey it to you.(max 2 days)

Thank you

[2021-06-09 09:22] tdurieux commented on #92
Perfect!

[2021-06-09 10:51] ABHAY0O7 commented on #92
Hello @bbaudry @tdurieux
These are the things that I have done in my recent commits on #93
What new :
- Removed configuration manual settings (configure it directly from code)
- Added test for the empty project.
- Include an extra portion of Unresolved dependencies (this will work only when Gradle is unable to resolve a dependency to get its transitive artifacts.)

Problem:
- Unable to automate ta

[2021-06-10 09:20] tdurieux commented on #92
From what I understand copyDependenciesLocally take the classpath and copy all the jar into a specific folder. It does not seem to be something that is hard to recreate. You can already get the classpath and then you can just copy everything that is in the classpath into a specific folder.

Is there a reason why you could not do this?

[2021-06-12 15:50] ABHAY0O7 commented on #92
The only reason behind this was, I didn't know that it takes classpath.
But, thanks for your valuable help, now the plugin is executing correctly.
I have implemented the proposed way of copy dependencies, I will push my recent commits with some tests in a day or two.
And then I will proceed to make it highly configurable.

Thank you

[2021-06-14 08:44] ABHAY0O7 commented on #92
Hello, @tdurieux @bbaudry,
For the last two days, my laptop's battery got damaged, so I was unable to work on the project.
I don't even have a phone, so I was unable to inform you as my ID is only open on my laptop.
But, now everything is OK, and soon I will push my recent work on the open PR.

Thank you

[2021-06-14 09:51] tdurieux commented on #92
No worry, I hope that the damage was not too big. Ping me when you think that your PR is ready.

[2021-06-17 10:04] ABHAY0O7 commented on #92
Hello @tdurieux
I have recently pushed a commit on the open PR
What new:

- Automated task `copyDependenciesLocally` with the help of the existing code more specific `JarUtils`, also reduces the task execution time.
- Added 3 more tests.
- Some refactoring in `GradleProjectDependencyAnalysis`.

I think up to now the plugin is working fine and I think now I should move forward to make it configurab

[2021-06-23 21:36] ABHAY0O7 commented on #92
Hello @tdurieux @bbaudry
I need some help...
Currently, I am stuck, I am not getting a way so that I can make the plugin configurable.
I know what to do but I am not getting a way of doing it correctly.
I have searched on the internet about it, but I am unable to find anything solid.
Could you please help me in getting out of this situation by referencing some blogs or articles or anything else th

[2021-06-24 08:22] tdurieux commented on #92
Are you trying to do be able to add optional properties to the plugin, like: https://github.com/riiid/gradle-github-plugin/tree/63be285ea8de3be6d65d86462c5e1ed09ea1a1e1?

This project is relatively simple you can follow what they are doing, the properties are registered here: https://github.com/riiid/gradle-github-plugin/blob/63be285ea8de3be6d65d86462c5e1ed09ea1a1e1/src/main/groovy/co/riiid/gradle

[2021-06-24 22:17] ABHAY0O7 commented on #92
This side note helps me a lot.
I looked over some other projects and finally found the correct solution of my problem.
I have successfully configured the `isIgnoreTest` parameter.
Now I am moving to add some more parameters.
Soon, I will update my work with some new tests.

Thank you
Abhay

[2021-06-29 08:48] ABHAY0O7 commented on #92
Hii @tdurieux @bbaudry
In the previous comment, I claimed that I have successfully configured the parameter `isIgnoreTest`, but that was a misconception from my side. When I was using that parameter to test the plugin, I commented out all the existing test code written for the project, and in the result, the plugin shows all the direct test dependency as UNUSED DIRECT and I thought that it is beca

[2021-06-30 14:11] tdurieux commented on #92
I am not sure to understand what is exactly the problem:

if you setup your class `depcleanGradleTask` like this:
[code]
and in `depclean-gradle-plugin/src/Test/resources/all_dependencies_unused/build.gradle` you have

[code]

and you execute the debloat plugin on `depclean-gradle-plugin/src/Test/resources/all_dependencies_unused` you will see that `isIgnoreTest: true`is printed.

Does it help you

[2021-06-30 16:34] ABHAY0O7 commented on #92
Hii @tdurieux
I got the concept you explained above.
Previously I was using `@Input` & `@Optional` annotations which was creating some kind of unstability.
But now, I also found a way of adding extra configuration to the task.
1) I created a class named `DepcleanGradlePluginExtension` to add extra configuration directly to the project.

[code]
2) Add it to the project's configuration.

[code]
3) U

[2021-07-01 07:33] tdurieux commented on #92
It looks perfectly fine to me to use the way you described.

[2021-07-04 11:05] ABHAY0O7 commented on #92
Hello @tdurieux @bbaudry
I have recently pushed a commit that marks the completion of 95% of the plugin deployment.
What's new

- Added extra configuration to the plugin like `ignoreTest` to make it flexible.
- Fix the logging messages.

Also since I am heading towards the end of this task, I want to end it professionally, so please suggest to me the default task name that I should use for the plu

[2021-07-09 15:00] tdurieux commented on #92
creating the pom should be extremely fast, I don't see a reason why it would be slow, for the JSON, it depends of the size of the project. it can potentially take a lot of time for big projects.

[2021-07-10 05:45] ABHAY0O7 commented on #92
Then for now should I add a parameter for `debloated-build.gradle` or not?
And also for `.json`?

[2021-07-10 08:42] tdurieux commented on #92
Yes please add a parameter for debloat the Gradle build file and one to generate the Json file.

On Jul 10, 2021 07:45, ABHAY SINGH ***@***.***> wrote:

Then for now should I add a parameter for debloated-build.gradle or not?
And also for .json?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/castor-software/depclean/issues/9

[2021-07-14 14:44] ABHAY0O7 commented on #92
Hii @tdurieux
Sorry for not responsive for the last 4 days, I was a little bit busy in my college vivas and also was trying to configure out how can I implement the `createDebloatedBuild` parameter.
I searched over the internet for how to use `model` and any `Writer` object in Gradle to write a new `build.gradle` file, and sadly I didn't find anything that could help me.
But now I have an idea for

[2021-07-18 00:50] ABHAY0O7 commented on #92
Hii @tdurieux @bbaudry,
I have now successfully implemented the `createBuildDebloated` parameter and wrote a proper functional test that ensures its proper working.
I used `BufferWriter` & `PrintWriter` to write `debloated-dependencies.gradle` file with some new programming logic, which if anyone wants can directly use from his `build.gradle` file as I mentioned earlier in the previous comment.
No

[2021-07-19 17:31] tdurieux commented on #92
What are you trying to achieve with `gradle dependency`?

[2021-07-19 20:22] ABHAY0O7 commented on #92
I want to generate the complete dependency tree of the project which can be done using the cmd `gradle dependencies` and also want the result of this task to a file because later It will be used in getting nodes from the tree.

[2021-07-25 19:00] ABHAY0O7 commented on #92
Hello @tdurieux @bbaudry
I apologize for this delay in the completion of this task, this week was quite busy for me. I was learning about Github Actions, was giving my end semester exams, and was also finding a correct way to add the test to Github Actions, but since the project is now a multi-build project so, it was quite hard to set up continuous integration to a module instead of project.

But

[2021-07-26 21:19] ABHAY0O7 commented on #92
Hii @tdurieux @bbaudry
I have successfully debugged the test and they are working fine now.
I have also included the Gradle build in the CI, but I excluded the test for now as they are failing on Github actions but they are running successfully on the local system. This is because I implemented functional tests using Gradle runner, which is not supported by Github actions, see [here](https://githu

[2021-07-29 12:34] patbaumgartner commented on #81
Adding this feature to depclean would be nice. In general, it would be great to parse any XML files for patterns that look like an import statement. We still have some legacy apps which use XML config files. But I assume other frameworks would work the same.

[2021-08-06 19:38] ABHAY0O7 commented on #92
Hii @bbaudry @tdurieux
It's been a long time since I made the last PR, but the debugging was very difficult for me this time.
As you advised that these files can be very useful sometimes in data analysis, so finally, I found a way to generate a proper JSON and CSV file. 😄
Also, the time in producing these files is not that much which I thought, it is approx one minute. 🚀
I also added a test for th

[2021-08-08 00:38] Amishakumari544 commented on #92
Hello everyone , I am Amisha pursuing Btech in computer Science I am looking to work on this project can anyone tell me how to start ? @ABHAY0O7  can you please guide me?

[2021-08-11 20:34] ABHAY0O7 commented on #92
Hello @tdurieux @bbaudry
I hope you are having a nice time.
As my first task of creating depclean-gradle-plugin is already completed, so I moved to the second one, and I had implemented support for multi-module-analysis.
It is not so perfect but still, it will prevent the failure of building the project.
What I have implemented :

1. Suppose this maven-based java project to be the targeted one ([l

[2021-08-12 13:03] ABHAY0O7 opened #102 "Need attention"
Hello @tdurieux
Sorry to bother you with this new issue, but it has been a long time since you have replied to any of my updates.
Since the program is heading towards the end, I just wanna know that are you still tracking me?
If yes, then please let me know in this thread. An emoji/reaction will also be sufficient. 😃

Best
Abhay

[2021-08-12 13:07] tdurieux commented on #102
Sorry I had a busy week, i will follow your progress with more attention :)

[2021-08-12 13:07] #102 closed

[2021-08-12 13:14] tdurieux commented on #92
Nice idea.
Do you think it is possible to add a summary report at the end of the built of the three modules?
And this summary could also contain the information from (DEPENDENT MODULES FOUND)

[2021-08-12 18:24] ABHAY0O7 commented on #92
Sorry to say, but to my knowledge, this is not possible and actually, this was the whole problem for me, just think, if I have a way of adding the summary report at the end of the build, then instead of the summary report, I will prefer the bulk analysis of the result of all modules generated by depclean and then the problem of multi-module analysis would never arrive, but the things didn't work t

[2021-08-12 18:26] ABHAY0O7 commented on #92
And if you don't mind, please answer her too.
And If you are busy, then provide me this wonderful opportunity of guiding new contributors. 😃

[2021-08-13 14:51] ABHAY0O7 commented on #67
This feature has been implemented in

- #94
- #95
- #96
- #97
- #98
- #99
- #100

Thank you
Abhay

[2021-08-13 14:51] #67 closed

[2021-08-15 20:19] ABHAY0O7 commented on #92
Hello @tdurieux @bbaudry
Since today is the last day of the GSoC coding period, I want you to review and merge all of my pending PRs so that I can include them in my final report.
Also, if possible I will be sending more PRs of some new tests or updates in README, so please try to review and merge them too before the deadline. 😅

Thank you
Abhay

[2021-08-16 02:33] Amishakumari544 commented on #92
It would be great if you help me .

[2021-08-20 07:51] tdurieux commented on #92
Sorry @ABHAY0O7, I was on holiday without my laptop. I am reviewing and merging your PRs.

[2021-11-07 09:28] chingchichuang opened #107 "[FEATURE] handle WAR file and EAR file"
Hi,

I would like to ask if DepClean has plan to implement how to handle WAR file and EAR file?
An enterprise archive (EAR) is a wrapper for a Java EE application, which consists of web archive (WAR) and Java archive (JAR) files.
Thank you!

Best regards,
Ching-Chi

[2021-11-29 13:42] algomaster99 opened #108 "[BUG] Depclean falsely reports a direct dependency as "UNUSED DIRECT DEPENDENCY""
**Describe the bug**
Upon running `Depclean v2.0.1` on https://github.com/SpoonLabs/sorald/commit/8762596558e49be194e4033e3094cc702d6768fd, it reports four unused direct dependencies - out of which `org.sonarsource.java:java-checks-testkit:6.9.0.23563` is definitely used [here](https://github.com/SpoonLabs/sorald/blob/master/src/main/java/sorald/sonar/RuleVerifier.java#L14-L40).

**To Reproduce**

[2021-11-29 13:55] algomaster99 commented on #108
[code]

Out of these 4, only `org.reflections:reflections:0.9.12:compile` is unused and we removed that https://github.com/SpoonLabs/sorald/pull/654. However, the rest are used.
1. hamcrest - https://github.com/SpoonLabs/sorald/blob/87ce9cc379184fe141dc6dea98e344f21f461818/src/test/java/sorald/sonar/RuleVerifierTest.java#L3
2. picocli - thttps://github.com/SpoonLabs/sorald/blob/87ce9cc379184fe141d

[2021-12-01 11:11] cesarsotovalero commented on #107
Hi @chingchichuang, thanks for reaching out.

I've implemented a way for DepClean to decompress and analyze the bytecode in `EAR` and `WAR` files, [see here](https://github.com/castor-software/depclean/commit/12e76e6bf689062f8bbdef00370fb96c8cdc0803). So it should be able to report dependency usages in those files.

Please clone and install from source, try it in your codebase and let me know if i

[2021-12-01 12:28] cesarsotovalero commented on #108
Hi @algomaster99, thanks for reaching out.

**The DepClean analysis results are ALL correct!**

Let me explain each case separately:

#### Case `java-checks-testkit`

This dependency is indeed not used by sorald directly. Instead, the transitive dependency `org.sonarsource.sonarqube:sonar-plugin-api:jar:7.9:compile` is the onee used [here](https://github.com/SpoonLabs/sorald/blob/master/src/main/j

[2021-12-01 13:05] cesarsotovalero commented on #90
Hi @imjhonny,

The viewpoint of @ABHAY0O7  is correct.

The dependency [`junit-jypiter`](https://mvnrepository.com/artifact/org.junit.jupiter/junit-jupiter/5.5.2) is an aggregator of other JUnit dependencies. Aggregators are used to simplify the addition of many dependencies at once. In the case of this particular dependency, it contains a single `module-info.class` file, see also [here](https://g

[2021-12-01 13:05] #90 closed

[2021-12-01 13:07] #91 closed

[2021-12-01 13:10] #77 closed

[2021-12-01 13:10] #37 closed

[2021-12-06 09:20] algomaster99 commented on #108
@cesarsotovalero Thanks for the prompt and elaborate reply!

This case is very clear to me. And thanks for pointing out that it could be replaced with the other transitive dependencies. It is always best to have the dependencies as direct if they are used in the program.

This is clear too. Thanks!

I think I got this confused with [`picocli`](https://github.com/SpoonLabs/sorald/blob/master/pom.xm

[2021-12-06 09:20] #108 closed

[2021-12-07 08:51] chingchichuang commented on #107
Hi @cesarsotovalero, thank you for the help^______^

I am testing this new feature and find out that [this function](https://github.com/chingchichuang/depclean/blob/master/depclean-core/src/main/java/se/kth/depclean/core/analysis/DefaultProjectDependencyAnalyzer.java#L184) needs to update too.
It seems that project.getArtifacts() does not return dependencies of WAR file.
[This article](https://cod

[2021-12-07 09:02] cesarsotovalero commented on #107
Hi @chingchichuang,

Thanks for pointing at this.

Would you like to contribute by making a pull request with the working changes as in the`ShareableJarsInWarsExtractor`?

Otherwise, I will try to implement this solution.

[2021-12-07 09:19] chingchichuang commented on #107
Hi @cesarsotovalero,

Sure, I am glad to implement this solution.
I will send a pull request in this week.
Thank you for giving me this opportunity^^

[2021-12-14 00:20] chingchichuang commented on #107
Hi @cesarsotovalero,

I follow the probable solution mentioned previously, but it does not detect dependencies inside the war file.
So, I try another implementation like below. I add another if condition in [this method](https://github.com/castor-software/depclean/blob/master/depclean-core/src/main/java/se/kth/depclean/core/analysis/DefaultProjectDependencyAnalyzer.java#L206).

Since WAR files's d

[2022-03-20 23:03] TidensBarn opened #110 "2.0.2 not found in Maven Central, 2.0.1 not supporting Java 17"
Included depclean with version 2.0.2 in my pom, as described in your readme. Got this error:
**Could not find artifact se.kth.castor:depclean-maven-plugin:jar:2.0.2 in central (https://repo.maven.apache.org/maven2)**

Tried 2.0.1, as it's the latest version listed in [mvnrepository](https://mvnrepository.com/artifact/se.kth.castor/depclean-maven-plugin), but it doesn't seem to support Java 17.
**[

[2022-03-26 14:14] Mackzwellz opened #111 "[FEATURE] Ability to check ONLY test dependencies"
**Is your feature request related to a problem? Please describe.**
I haven't found a way to use this for a project that contains only test sources (since all sources are in `src/test`, all classes are put into `\target\test-classes`). (My use case is a test automation framework used in a multi-module environment).
Right now, I get the error `<project_dir>\target\classes does not exist` after `[INF

[2022-03-31 11:54] cesarsotovalero opened #118 "[FEATURE] se a version wildcard in the ignoreDependencies tag"
**Is your feature request related to a problem? Please describe.**
The `ignoredDependencies` flag in DepClean currently requires declaring explicitly the version of the dependency to be excluded from the analysis. This may cause additional engineering effort when updating a dependency that is excluded.

**Describe the solution you'd like**
Use a version wildcard in the ignoreDependencies tag, succ

[2022-04-01 09:24] #110 closed

[2022-04-02 15:16] afillatre opened #124 "[FEATURE] Differentiating direct transitive and inherited transitive dependencies"
**Is your feature request related to a problem? Please describe.**
Since we can't do much to debloat inherited transitive dependencies, it could be nice to separate them from the ones that come from direct dependencies, for clarity sake.

**Describe the solution you'd like**
Separate both kinds of transitive dependencies in the final report

[2022-04-02 22:02] cesarsotovalero opened #125 "[BUG] Dependency usages from annotations with RetentionPolicy.SOURCE are not considered as used"
**Describe the bug**
The DepClean analysis is based on the information in the compiled .class files (bytecode). Therefore, DepClean only detects the usage information located in the bytecode of the application.

DepClean uses ASM for bytecode analysis, see related SO question: https://stackoverflow.com/questions/63465374/how-to-visit-annotation-inside-method-in-asm.

**To Reproduce**
I've investig

[2022-04-03 09:15] afillatre commented on #81
@cesarsotovalero since there can be many cases where we need to parse XML files (or even other text file formats), what do you think about adding a configuration to the plugin to provide the list of extra files to parse ? I think this should be better than trying to read everything we find, either by brute force or hard-coded patterns.

For instance, I can think of Spring beans declared in XML fil

[2022-04-05 10:00] #125 closed

[2022-04-06 05:01] t1 opened #127 "[BUG] DepClean failing for a Java 11 project"
**Describe the bug**
I have a project with source and target set to 11. When I run `mvn se.kth.castor:depclean-maven-plugin:2.0.1:depclean`, it fails with:

`[ERROR] Failed to execute goal se.kth.castor:depclean-maven-plugin:2.0.1:depclean (default-cli) on project wunderbar.lib: Execution default-cli of goal se.kth.castor:depclean-maven-plugin:2.0.1:depclean failed: Unsupported class file major ve

[2022-04-07 08:52] cesarsotovalero commented on #124
Hi @afillatre,

Inherited dependencies are all the dependencies that come from the parent project.
I agree with you that it makes sense to separate "inherited direct" and "inherited transitive" dependencies.

So, I think the change that you're proposing look as follows?

[code]

[2022-04-07 09:43] #92 closed

[2022-04-07 09:46] #51 closed

[2022-04-07 09:55] cesarsotovalero commented on #107
Hi @chingchichuang,
Please use the latest version of DepClean and confirm if this issue has been fixed or not.
Thanks!

[2022-04-07 09:59] cesarsotovalero commented on #78
Hi @afillatre,
The only solution that comes to my mind for this issue is writing an XML parser in DepClean that inspect the XML files in `src/main/resources` to search for dependencies injected via XML annotations from the code.
WDYT?

[2022-04-07 10:14] #31 closed

[2022-04-07 10:20] cesarsotovalero commented on #81
Hi @afillatre,
I get your point. So we can definitely add a parameter to DepClean to let the users declare a path to the XML files where they have this type of dependencies.
I'll give it a try this way.

Can you point me to some open source Spring project that relies on this form of dependency usage for so that I can use it for testing purposes?

[2022-04-07 10:56] Mackzwellz commented on #111
Ran latest depclean (2.0.3) as you suggested, the issue no longer persists, thank you!

[2022-04-07 10:56] #111 closed

[2022-04-07 13:29] afillatre commented on #79
It would be nice to run a performance analysis tool during the run to understand where the issue is. I cant' say for sure where the problem is ATM

[2022-04-08 08:49] cesarsotovalero commented on #127
Hi @t1,

Thanks for opening this issue.
Version 2.0.2 of DepClean has been released and it should work well with projects that use JDK <= 17.
I've successfuly executed DepClean in https://github.com/t1/wunderbar.

Please run the following commands and tell me if it works for you as well:

[code]

[2022-04-08 10:34] t1 commented on #127
Yes, this works. Thanks a lot!

[2022-04-08 10:34] #127 closed

[2022-04-11 11:55] chingchichuang commented on #107
Hi @cesarsotovalero,
Thank you! Just see the message today. I will update it this week.
Sorry for not updating for a long time^^

[2022-04-29 13:40] #107 closed

[2022-05-03 01:06] ghost opened #128 "Maven error - NoSuchElementException"
Fails with maven error

**To Reproduce**
Steps to reproduce the behavior:
- run from the command line as in the readme

**Expected behavior**
Success

[code]

[2022-05-03 14:20] christopinka-vp commented on #128
$ java -version
openjdk version "17.0.2" 2022-01-18
OpenJDK Runtime Environment (build 17.0.2+8-86)
OpenJDK 64-Bit Server VM (build 17.0.2+8-86, mixed mode, sharing)

 $ mvn -v
Apache Maven 3.8.4

on Windows 10

[2022-05-03 14:20] christopinka-vp commented on #128
Can you get me started debugging this? Thanks!

[2022-05-03 14:34] christopinka-vp commented on #128
pom is

[code]

[2022-05-12 11:21] cmguedmini commented on #128
I had the same error :
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal se.kth.castor:depclean-maven-plugin:2.0.2:depclean (default-cli) on project sis-edm-service: Execution default-cli of goal se.kth.castor:depclean-maven-plugin:2.0.2:depclean failed: No value present
    at org.apache.maven.lifecycle.internal.MojoExecutor.execute (MojoExecutor.java:215)
    at org.

[2022-05-15 22:55] TidensBarn opened #129 "[BUG] Record requires ASM8"
Working with Java 17, Maven 3.8.4 and using Records in my code. Depclean doesn't seem to like that:

`[ERROR] Execution default of goal se.kth.castor:depclean-maven-plugin:2.0.2:depclean failed: Record requires ASM8`

[2022-07-07 11:55] harpreet86 opened #131 "No debloated-pom.xml"
I have used <createPomDebloated> configuration as true as shown in screenshot but it is not generating any debloated-pom.xml
<img width="416" alt="image" src="https://user-images.githubusercontent.com/4299180/177767348-c940e29b-c577-45ab-b01f-46bb705f2e65.png">

[2022-08-26 05:10] rahulgupta999 opened #132 "[BUG] Null pointer exception"
**Describe the bug**
Null pointer exception in my internal project
stack - trace:
Execution default-cli of goal se.kth.castor:depclean-maven-plugin:2.0.2:depclean failed.: NullPointerException -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal se.kth.castor:depclean-maven-plugin:2.0.2:depclean (default-cli) on project cxp-util: Execution default-cli of goal

[2022-09-19 10:13] #41 closed

[2022-09-19 10:15] cesarsotovalero commented on #4
This feature will be implemented in Eclipse Repairnator. See https://github.com/eclipse/repairnator/issues/1249#issuecomment-1246721850.

[2022-09-19 10:15] #4 closed

[2022-09-19 10:37] cesarsotovalero commented on #129
Hi @TidensBarn,

Thanks for reporting this issue.
It should have been fixed with https://github.com/castor-software/depclean/commit/bb207e30f26428b4bdfb2cbb3c6b01517d945ee2

Please let me know if it works now on your side.

[2022-09-20 06:42] cesarsotovalero commented on #128
Hi @cmguedmini,

The issue seems to be related to the Java version for which DepClean was compiled.

Could you check if the problem persists with DepClean version 2.0.3?

[2022-09-20 06:48] cesarsotovalero commented on #131
Hi @harpreet86,
Thanks for reporting this issue.
The configuration of DepClean in your `pom.xml` is correct.

Could you please give a pointer to the repository you're using?
This way I can have a closer look and debug.

Thanks.

[2022-09-20 06:52] cesarsotovalero commented on #132
Hi @rahulgupta999,

Thanks for reporting this issue.
It seems to be related to the feature that creates de debloated `pom.xml` file.

Could you please provide a link to the Maven project that you are using?
This way, I can debug it to fix it.

Thanks!

[2022-09-20 07:02] #68 closed

[2022-09-24 21:37] TidensBarn commented on #129
Nice! I tried it and the the build does work now.
Thank you!

[2022-09-24 21:37] #129 closed